<div id="comment-form">{% if comment_list %}
    {% for comment in comment_list %}
        <div class="row">
            <div class="col-md-12">
                {{ comment.user }}
                <span class="pull-right">{{ comment.created_at|timesince:now }} ago</span>
                <p> {{ comment.comment }}</p>
            </div>
        </div>
        <hr>
    {% endfor %} {% endif %}

    <div class="form-group">
             {% if form.user.errors %} <div class="form-group">
        <div id="errors" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
        {{ form.user.name }}
        {{ form.user.errors }}
        </div></div> {% endif %}
        <input class="form-control" type="text" name="user" id="id_user" placeholder="Your name"/>
    </div>

    <div class="form-group">
             {% if form.email.errors %} <div class="form-group">
        <div id="errors" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
        {{ form.email.name }}
        {{ form.email.errors }}
        </div></div> {% endif %}
        <input class="form-control" type="text" name="email" id="id_email" placeholder="Your email"/>
    </div>

 <div class="form-group">
     {% if form.comment.errors %} <div class="form-group">
        <div id="errors" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
        {{ form.comment.name }}
        {{ form.comment.errors }}
        </div></div> {% endif %}
      <textarea name="comment" id="id_comment" class="content form-control"
                          placeholder='Your comment...'></textarea>
        </div>
    <div class="form-group" id="sendwrapper">
        <input type="submit" id="sendbutton" name="submit"
               class="btn btn-success sendbutton" value="Leave a Comment">
    </div>
</div>
