{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Sorting</p>

            <div class="list-group">
                <a href="#" class="list-group-item">Sort by likes</a>
                <a href="#" class="list-group-item">Sort by added</a>
                <a href="#" class="list-group-item">Sort by modified</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                {% if products %}
                    {% for product in products %}
                        <div class="col-md-9">
                            <div class="thumbnail">
                                <div class="caption-full">
                                    <h4 class="pull-right">${{ product.price }}</h4>
                                    <h4><a href="#">{{ product.name | truncatewords_html:4 }}</a>
                                    </h4>

                                    <p>{{ product.description | truncatewords_html:8 }}</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">{{ product.comments.count }} reviews</p>

                                    <p id="likes">{{ product.likes.count }} likes</p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
                {% else %}
                    There is no products yet...
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}