{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-md-2">
            <div>Sorting by likes
                <p>
                <strong> <a href="{% url 'product:products' %}?sort=like" class="form-group-item lead"> &uArr;</a></strong>
                <strong> <a href="{% url 'product:products' %}?sort=-like" class="form-group-item lead"> &dArr;</a></strong>
                </p>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
    {% if product_list %}
                    {% for product in product_list %}
                        <div class="col-md-9">
                            <div class="thumbnail">
                                <div class="caption-full">
                                    <h4 class="pull-right">${{ product.price }}</h4>
                                    <h4><a href="{% url 'product:product_view' product.slug %}">{{ product.name | truncatewords_html:4 }}</a>
                                    </h4>

                                    <p>{{ product.description | truncatewords_html:8 }}</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">{{ product.comments.count }} reviews</p>

                                    <p id="likes">{{ product.likes.count }} likes</p>
                                </div>
                            </div>
                        </div>
                  {% endfor %}
        {% if is_paginated %}
                  <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
    {% else %}
        There is no products yet...
    {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}